<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewDemo_ByMyself.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92A4CA471EB229A700A3B634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A4CA5B1EB229A700A3B634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A4CA661EB229A700A3B634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
